

<style>

</style>

<div id="fig_el313701406844390044325000927286"></div>
<script>
function mpld3_load_lib(url, callback){
  var s = document.createElement('script');
  s.src = url;
  s.async = true;
  s.onreadystatechange = s.onload = callback;
  s.onerror = function(){console.warn("failed to load library " + url);};
  document.getElementsByTagName("head")[0].appendChild(s);
}

if(typeof(mpld3) !== "undefined" && mpld3._mpld3IsLoaded){
   // already loaded: just create the figure
   !function(mpld3){
       
       mpld3.draw_figure("fig_el313701406844390044325000927286", {"axes": [{"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [-0.20000000000000001, 1.2000000000000002], "paths": [], "sharey": [], "sharex": ["el31370140684437268752", "el31370140684436739600"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": "", "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 9, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684438925008", "ydomain": [-0.20000000000000001, 1.2000000000000002], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 1, "id": "el31370140684436248720", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.66470588235294115, 0.77500000000000002, 0.23529411764705888]}, {"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [0.10000000000000001, 1.1000000000000001], "paths": [], "sharey": [], "sharex": ["el31370140684438925008", "el31370140684436739600"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": "", "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 7, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684437268752", "ydomain": [0.10000000000000001, 1.1000000000000001], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 2, "id": "el31370140684436207632", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.38235294117647056, 0.77500000000000002, 0.23529411764705888]}, {"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [-0.20000000000000001, 1.2000000000000002], "paths": [], "sharey": [], "sharex": ["el31370140684437268752", "el31370140684438925008"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 9, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684436739600", "ydomain": [-0.20000000000000001, 1.2000000000000002], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 3, "id": "el31370140684436663824", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.099999999999999867, 0.77500000000000002, 0.23529411764705888]}], "height": 800.0, "width": 480.0, "plugins": [{"type": "reset"}, {"enabled": false, "button": true, "type": "zoom"}, {"enabled": false, "button": true, "type": "boxzoom"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436248720"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436207632"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436663824"}], "data": {"data01": [[0.0, 0.7713475173960388, 0.8118020765400001, 0.5594956733448809], [1.0, 0.36652315358907184, 0.5727941278240878, 0.2865912516719289], [2.0, 0.4206363859384674, 0.1797428768692546, 0.3614126585151829], [3.0, 0.6821501683505626, 0.529279879888495, 0.24478942367990064], [4.0, 0.5995261966260568, 0.7650857871384474, 0.5501209681086096], [5.0, 0.961463736803839, 0.5705963438011362, 0.7840140987336797], [6.0, 0.8388252910392661, 0.5859587645223735, 0.44870889631708033], [7.0, 0.8709022831274252, 0.7004405604228887, 0.02759962943527805], [8.0, 0.3025771300337672, 0.2888849500128089, 0.2255278566660026], [9.0, 0.2571148637848557, 0.4137180345477395, 0.6631122426322718], [10.0, 0.04955658871872637, 0.6070625603816102, 0.08559672524629358], [11.0, 0.05227194788831824, 0.9605557499323932, 0.2719160821936989], [12.0, 0.3961203830031864, 0.32785187562091533, 0.1977436566890557], [13.0, 0.9845272777580693, 0.9363012745575939, 0.6519098713812348], [14.0, 0.3597641528320008, 0.9512325251952328, 0.7926840862225882], [15.0, 0.3815471137317302, 0.5189863158331807, 0.06186517405822567], [16.0, 0.6171975230723902, 0.7020630371028136, 0.3724505255640643], [17.0, 0.3915518909482124, 0.8523070127397533, 0.5691954063916146], [18.0, 0.38520441958046236, 0.7320862905553026, 0.998662111046177], [19.0, 0.9405995959882975, 0.4749387071319736, 0.07266021233531439], [20.0, 0.7028764376542058, 0.9699755319329955, 0.08396687737287534], [21.0, 0.19265599916896903, 0.20827402981057386, 0.0027693536544995956], [22.0, 0.7659743614029055, 0.3167835738113328, 0.29292855522799455], [23.0, 0.6532158407558355, 0.3828057187829611, 0.6248110939820554], [24.0, 0.3562533464378529, 0.4451607645303223, 0.2068979970120366], [25.0, 0.811938137468073, 0.4520033300521259, 0.250047758734406], [26.0, 0.7999167022404265, 0.6303137570074671, 0.8526278338999947], [27.0, 0.48713955855308966, 0.6468859510886971, 0.5496434298660151], [28.0, 0.7299909415401163, 0.511703862202959, 0.15203369177026538], [29.0, 0.9489696039019931, 0.18466346877477036, 0.32930860355921443]]}, "id": "el31370140684439004432"});
   }(mpld3);
}else if(typeof define === "function" && define.amd){
   // require.js is available: use it to load d3/mpld3
   require.config({paths: {d3: "https://mpld3.github.io/js/d3.v3.min"}});
   require(["d3"], function(d3){
      window.d3 = d3;
      mpld3_load_lib("https://mpld3.github.io/js/mpld3.v0.2.js", function(){
         
         mpld3.draw_figure("fig_el313701406844390044325000927286", {"axes": [{"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [-0.20000000000000001, 1.2000000000000002], "paths": [], "sharey": [], "sharex": ["el31370140684437268752", "el31370140684436739600"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": "", "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 9, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684438925008", "ydomain": [-0.20000000000000001, 1.2000000000000002], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 1, "id": "el31370140684436248720", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.66470588235294115, 0.77500000000000002, 0.23529411764705888]}, {"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [0.10000000000000001, 1.1000000000000001], "paths": [], "sharey": [], "sharex": ["el31370140684438925008", "el31370140684436739600"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": "", "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 7, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684437268752", "ydomain": [0.10000000000000001, 1.1000000000000001], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 2, "id": "el31370140684436207632", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.38235294117647056, 0.77500000000000002, 0.23529411764705888]}, {"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [-0.20000000000000001, 1.2000000000000002], "paths": [], "sharey": [], "sharex": ["el31370140684437268752", "el31370140684438925008"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 9, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684436739600", "ydomain": [-0.20000000000000001, 1.2000000000000002], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 3, "id": "el31370140684436663824", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.099999999999999867, 0.77500000000000002, 0.23529411764705888]}], "height": 800.0, "width": 480.0, "plugins": [{"type": "reset"}, {"enabled": false, "button": true, "type": "zoom"}, {"enabled": false, "button": true, "type": "boxzoom"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436248720"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436207632"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436663824"}], "data": {"data01": [[0.0, 0.7713475173960388, 0.8118020765400001, 0.5594956733448809], [1.0, 0.36652315358907184, 0.5727941278240878, 0.2865912516719289], [2.0, 0.4206363859384674, 0.1797428768692546, 0.3614126585151829], [3.0, 0.6821501683505626, 0.529279879888495, 0.24478942367990064], [4.0, 0.5995261966260568, 0.7650857871384474, 0.5501209681086096], [5.0, 0.961463736803839, 0.5705963438011362, 0.7840140987336797], [6.0, 0.8388252910392661, 0.5859587645223735, 0.44870889631708033], [7.0, 0.8709022831274252, 0.7004405604228887, 0.02759962943527805], [8.0, 0.3025771300337672, 0.2888849500128089, 0.2255278566660026], [9.0, 0.2571148637848557, 0.4137180345477395, 0.6631122426322718], [10.0, 0.04955658871872637, 0.6070625603816102, 0.08559672524629358], [11.0, 0.05227194788831824, 0.9605557499323932, 0.2719160821936989], [12.0, 0.3961203830031864, 0.32785187562091533, 0.1977436566890557], [13.0, 0.9845272777580693, 0.9363012745575939, 0.6519098713812348], [14.0, 0.3597641528320008, 0.9512325251952328, 0.7926840862225882], [15.0, 0.3815471137317302, 0.5189863158331807, 0.06186517405822567], [16.0, 0.6171975230723902, 0.7020630371028136, 0.3724505255640643], [17.0, 0.3915518909482124, 0.8523070127397533, 0.5691954063916146], [18.0, 0.38520441958046236, 0.7320862905553026, 0.998662111046177], [19.0, 0.9405995959882975, 0.4749387071319736, 0.07266021233531439], [20.0, 0.7028764376542058, 0.9699755319329955, 0.08396687737287534], [21.0, 0.19265599916896903, 0.20827402981057386, 0.0027693536544995956], [22.0, 0.7659743614029055, 0.3167835738113328, 0.29292855522799455], [23.0, 0.6532158407558355, 0.3828057187829611, 0.6248110939820554], [24.0, 0.3562533464378529, 0.4451607645303223, 0.2068979970120366], [25.0, 0.811938137468073, 0.4520033300521259, 0.250047758734406], [26.0, 0.7999167022404265, 0.6303137570074671, 0.8526278338999947], [27.0, 0.48713955855308966, 0.6468859510886971, 0.5496434298660151], [28.0, 0.7299909415401163, 0.511703862202959, 0.15203369177026538], [29.0, 0.9489696039019931, 0.18466346877477036, 0.32930860355921443]]}, "id": "el31370140684439004432"});
      });
    });
}else{
    // require.js not available: dynamically load d3 & mpld3
    mpld3_load_lib("https://mpld3.github.io/js/d3.v3.min.js", function(){
         mpld3_load_lib("https://mpld3.github.io/js/mpld3.v0.2.js", function(){
                 
                 mpld3.draw_figure("fig_el313701406844390044325000927286", {"axes": [{"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [-0.20000000000000001, 1.2000000000000002], "paths": [], "sharey": [], "sharex": ["el31370140684437268752", "el31370140684436739600"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": "", "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 9, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684438925008", "ydomain": [-0.20000000000000001, 1.2000000000000002], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 1, "id": "el31370140684436248720", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.66470588235294115, 0.77500000000000002, 0.23529411764705888]}, {"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [0.10000000000000001, 1.1000000000000001], "paths": [], "sharey": [], "sharex": ["el31370140684438925008", "el31370140684436739600"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": "", "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 7, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684437268752", "ydomain": [0.10000000000000001, 1.1000000000000001], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 2, "id": "el31370140684436207632", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.38235294117647056, 0.77500000000000002, 0.23529411764705888]}, {"xlim": [-5.0, 35.0], "yscale": "linear", "axesbg": "#FFFFFF", "texts": [], "zoomable": true, "images": [], "xdomain": [-5.0, 35.0], "ylim": [-0.20000000000000001, 1.2000000000000002], "paths": [], "sharey": [], "sharex": ["el31370140684437268752", "el31370140684438925008"], "axesbgalpha": null, "axes": [{"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "bottom", "nticks": 9, "tickvalues": null}, {"scale": "linear", "tickformat": null, "grid": {"gridOn": false}, "fontsize": 12.0, "position": "left", "nticks": 9, "tickvalues": null}], "lines": [], "markers": [], "id": "el31370140684436739600", "ydomain": [-0.20000000000000001, 1.2000000000000002], "collections": [{"paths": [[[[0.0, -0.25], [0.066300775, -0.25], [0.12989496769621336, -0.22365842289706042], [0.1767766952966369, -0.1767766952966369], [0.22365842289706042, -0.12989496769621336], [0.25, -0.066300775], [0.25, 0.0], [0.25, 0.066300775], [0.22365842289706042, 0.12989496769621336], [0.1767766952966369, 0.1767766952966369], [0.12989496769621336, 0.22365842289706042], [0.066300775, 0.25], [0.0, 0.25], [-0.066300775, 0.25], [-0.12989496769621336, 0.22365842289706042], [-0.1767766952966369, 0.1767766952966369], [-0.22365842289706042, 0.12989496769621336], [-0.25, 0.066300775], [-0.25, 0.0], [-0.25, -0.066300775], [-0.22365842289706042, -0.12989496769621336], [-0.1767766952966369, -0.1767766952966369], [-0.12989496769621336, -0.22365842289706042], [-0.066300775, -0.25], [0.0, -0.25]], ["M", "C", "C", "C", "C", "C", "C", "C", "C", "Z"]]], "edgecolors": ["#0000FF"], "edgewidths": [1.0], "offsets": "data01", "yindex": 3, "id": "el31370140684436663824", "pathtransforms": [[4.969039949999533, 0.0, 0.0, 4.969039949999533, 0.0, 0.0]], "pathcoordinates": "display", "offsetcoordinates": "data", "zorder": 1, "xindex": 0, "alphas": [null], "facecolors": ["#0000FF"]}], "xscale": "linear", "bbox": [0.125, 0.099999999999999867, 0.77500000000000002, 0.23529411764705888]}], "height": 800.0, "width": 480.0, "plugins": [{"type": "reset"}, {"enabled": false, "button": true, "type": "zoom"}, {"enabled": false, "button": true, "type": "boxzoom"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436248720"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436207632"}, {"voffset": 10, "labels": ["point 1", "point 2", "point 3", "point 4", "point 5", "point 6", "point 7", "point 8", "point 9", "point 10", "point 11", "point 12", "point 13", "point 14", "point 15", "point 16", "point 17", "point 18", "point 19", "point 20", "point 21", "point 22", "point 23", "point 24", "point 25", "point 26", "point 27", "point 28", "point 29", "point 30"], "hoffset": 0, "location": "mouse", "type": "tooltip", "id": "el31370140684436663824"}], "data": {"data01": [[0.0, 0.7713475173960388, 0.8118020765400001, 0.5594956733448809], [1.0, 0.36652315358907184, 0.5727941278240878, 0.2865912516719289], [2.0, 0.4206363859384674, 0.1797428768692546, 0.3614126585151829], [3.0, 0.6821501683505626, 0.529279879888495, 0.24478942367990064], [4.0, 0.5995261966260568, 0.7650857871384474, 0.5501209681086096], [5.0, 0.961463736803839, 0.5705963438011362, 0.7840140987336797], [6.0, 0.8388252910392661, 0.5859587645223735, 0.44870889631708033], [7.0, 0.8709022831274252, 0.7004405604228887, 0.02759962943527805], [8.0, 0.3025771300337672, 0.2888849500128089, 0.2255278566660026], [9.0, 0.2571148637848557, 0.4137180345477395, 0.6631122426322718], [10.0, 0.04955658871872637, 0.6070625603816102, 0.08559672524629358], [11.0, 0.05227194788831824, 0.9605557499323932, 0.2719160821936989], [12.0, 0.3961203830031864, 0.32785187562091533, 0.1977436566890557], [13.0, 0.9845272777580693, 0.9363012745575939, 0.6519098713812348], [14.0, 0.3597641528320008, 0.9512325251952328, 0.7926840862225882], [15.0, 0.3815471137317302, 0.5189863158331807, 0.06186517405822567], [16.0, 0.6171975230723902, 0.7020630371028136, 0.3724505255640643], [17.0, 0.3915518909482124, 0.8523070127397533, 0.5691954063916146], [18.0, 0.38520441958046236, 0.7320862905553026, 0.998662111046177], [19.0, 0.9405995959882975, 0.4749387071319736, 0.07266021233531439], [20.0, 0.7028764376542058, 0.9699755319329955, 0.08396687737287534], [21.0, 0.19265599916896903, 0.20827402981057386, 0.0027693536544995956], [22.0, 0.7659743614029055, 0.3167835738113328, 0.29292855522799455], [23.0, 0.6532158407558355, 0.3828057187829611, 0.6248110939820554], [24.0, 0.3562533464378529, 0.4451607645303223, 0.2068979970120366], [25.0, 0.811938137468073, 0.4520033300521259, 0.250047758734406], [26.0, 0.7999167022404265, 0.6303137570074671, 0.8526278338999947], [27.0, 0.48713955855308966, 0.6468859510886971, 0.5496434298660151], [28.0, 0.7299909415401163, 0.511703862202959, 0.15203369177026538], [29.0, 0.9489696039019931, 0.18466346877477036, 0.32930860355921443]]}, "id": "el31370140684439004432"});
            })
         });
}
</script>